body {
    background-color: darkslateblue;
}
.carousel-item {

    width: 100%;
    height: 400px !important;
 

} 
header {
    background-color: white;
}

.header2 { 

    background-color: darkslateblue;
}

.imglla {

    text-align: center;
    
}

.carousel-container {

    max-width: 700px;
    margin: 0 auto;
 }

 

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #4cae4c;
}

.parrafo1 {
    margin: 30px;
    text-align: left;
    font-style: italic;
    color: white;
   
}

.contacto {
text-align: center;

}

h1 {
    color: white;
    text-align: center;
    background-color: mediumpurple;
    border-radius: 50px;
    padding: 15px;
font-weight: lighter;

}

.llaimg {

    text-align: center;
}


footer {
    height: 20rem;
    background-color: rgb(219, 212, 212);

}
.h1redes {
    color: white;
    font-weight: lighter;
    font-size: 2rem;
}

#Iframe-Liason-Sheet {
    max-width: 760px;
    max-height: 1200px;
    overflow: hidden;
    }
    /* inner wrapper: make responsive */
    .responsive-wrapper {
    position: relative;
    height: 0; /* gets height from padding-bottom setting */
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    }
    .responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    }
    /* padding-bottom = h/w as a % */
    .responsive-wrapper-wxh-760x1200 {
    padding-bottom: 363.6364%;
    }
    .iframe-border {
    border: 1px solid #000;
    }
    .center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
    }